<% if (theme.widgets.tags && site.tags.length){ %>
    <div class="sidebar-module">
        <h4>Tags</h4>
        <p>
            <% site.tags.sort('name').each(function(item){ %>
                <a href="<%- config.root %><%- item.path %>" style="font-size: <%- Math.min(item.posts.length * 2 + 13, 30) %>px"><%= item.name %></a>
            <% }); %>
        </p>
    </div>
<% } %>