<div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-wrapper">
          <i class="fas fa-search"></i>
          <input id="search" class="search-input" type="text" placeholder="Input content to search..." />
        </div>
        <ul id="result" class="list-group result-wrapper">
        </ul>
      </div>
    </div>
  </div>
</div>