@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Poppins:wght@300;400;500;700');

@import '_mixin/normalize.css';
@import '_partial/*';
@import '_widget/*';
@import 'about';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

button {
  &:focus {
    box-shadow: none !important;
  }
}

// overwrite the n-progress
#nprogress {
  .bar {
    background: unquote(hexo-config('nprogress.color')) !important;
  }
}