@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Poppins:wght@300;400;500;700');

@import '_mixin/normalize.css';
@import '_colors';
@import '_partial/*';
@import '_widget/*';
@import 'about';
@import 'index';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $bg-color;
  color: $text-color;
}

main {
  height: 100vh;
  position: relative;
}

#main {
  padding-bottom: 100px;
}

button {
  &:focus {
    box-shadow: none !important;
  }
}

a {
  text-decoration: none;
}

// overwrite the n-progress
#nprogress {
  .bar {
    background: unquote(hexo-config('nprogress.color')) !important;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}