<div class="footer-wrapper">
  <div class="left-content"></div>
  <div class="right-content">
    <div>Copyright &copy;<%= date(new Date(), 'YYYY') %></div>
    <div>Powered By <a href="https://hexo.io/">Hexo</a> - Theme <a href="https://github.com/thomasyu929/hexo-theme-peomas">Peomas</a></div>
  </div>
</div>