<nav id="navbar" class="navbar fixed-nav scrolling-navbar">
  <div class="container">
    <div class="mark-wrapper">
      <% if (theme.logo_mark) { %>
        <img class="logo" src="<%- theme.logo_mark %> "/>
      <% } %> 
      <div class="title-mark"><%- theme.mark %></div>
    </div>
  
    <button id="menu-btn" class="btn menu-btn" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
      <div class="menu-icon"><span></span><span></span><span></span></div>
    </button>
  
    <div id="nav-menu" class="collapse menu-wrapper">
      <ul>
        <% for (let i in theme.menu) { %>
          <li>
            <a href="<%- url_for(theme.menu[i]) %>"><%= i %> </a>
          </li>
        <% } %>
        <li class="search-icon">
          <button class="btn" data-bs-toggle="modal" data-bs-target="#searchModal" aria-label="Search">
            <i class="fas fa-search"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
