.list-group {
  h3 {
    color: $header-text-color;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  .list-group-item {
    border: none;
    
    a {
      color: $text-color;

      &:hover {
        color: #0d6efd;
      }
    }

    .post-date {
      float: right;
      color: $footer-text-color;
    }
  }
}
