.post-wrapper {
  position: relative;

  .post-meta {
    color: $footer-text-color;

    time {
      padding-left: 5px;
      border-left: 3px solid #0d6efd;
      line-height: 100%;
    }

    .author {
      font-weight: 500;
      color: $header-text-color;
    }
    
    .tag {
      color: $footer-text-color;
      font-weight: 500;
      font-size: 0.85rem;
      margin-right: 2px;
      border-left: 3px solid #0d6efd;
      padding-left: 5px;
      line-height: 100%;

      &:first-child {
        margin-left: 1rem;
      }
    }

    .source {
      line-height: 100%;
      margin-top: 2rem;
    }
  }
}