.about-wrapper {
  .row {
    align-items: flex-end;

    .col {
      padding-top: 10px;
    }
  }

  .avatar {
    max-width: 150px;

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    }
  }

  .title-wrapper {
    min-width: 350px;
    .title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .sub-title {
      font-weight: 500;
    }
  }

  .about-icon {
    color: #000;
    font-size: 1.2rem;
    padding: 0 5px;
    text-decoration: none;
  }
}