h2 {
  margin-bottom: 40px;
}

.category {
  margin: 10px;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #000;

  &:hover {
    background-color: $blue;
    color: #fff;
  }
}