.categories-wrapper {
  ul {
    li {
      font-weight: 500;

      .category-count {
        color: $footer-text-color !important;
        float: right;
      }

      a {
        &:hover {
          color: $blue !important;
        }
      }

    }
  }
}
