h2 {
  margin-bottom: 10px;
  padding-bottom: 20px;
  color: $header-text-color;
  border-bottom: 3px solid $header-text-color;
}

ul {
  li {
    font-weight: 500;

    .category-count {
      color: $footer-text-color !important;
      float: right;
    }

    a {
      &:hover {
        color: $blue !important;
      }
    }

  }
}
